h1{color: red;}
button{background-color:rgb(243, 54, 54);
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 34px;
    color:aliceblue;
}
.niv{color:rgb(0, 136, 255)}
.sasi{ 
    background-color: rgb(35, 19, 255);
    width: 80px;
}