body{
    margin: 0px;
}

div{width:400px;
    margin: 0px;
    margin: auto;
    height: 400px;}
    .STR{font-family:red serif;
        font-size: 60PX;
        color:red serif;
        padding: 0px;
        margin: 0px;
        text-shadow: 2px 2px 5px red;
        text-align: center;}
        form.sign{
        
            border: 2px solid black;
            border-radius: 12px;
            height: 445px;
        
        }
    .thams
    {
        font-size: 34px;   
        text-align: center;
        margin: 0px;
    }
    p{
        text-align: center;
    }
   button.nan{
        float: right;
        padding: 5px;
        border: 3px solid black;
        border-radius: 10px;
        width: 50px;
        margin: 10px;
        
    }
    fieldset{border: 0px solid black;
    border-radius:12px;
    height: 400px;
    
    }
    nav{    background-color: black;
        display: block;
        height: 43px;
    margin: 1px;}
    .poo{text-shadow: 2px 2px 6px rgb(187, 186, 212);
        font-family: serif;}
    .saa{        width: 242px;
        height: 19px;
        background-color: white;
        font-family: serif;}
        .shin{    height: 35px;
            background-color: white;
            border-radius: 5px;}
            input{    height: 20px;
                background-color: white;
                border-radius: 5px;
            float: none;}
            p{text-shadow: 2px 2px 5px rgb(0, 253, 76);
                font-family: serif;}
            label{text-shadow: 2px 2px 5px red;
            font-family: serif;}
         