
  body{
  
    margin:0px;
      
}
section{
display: inline-block;

}

  h1{font-family:red serif;
    font-size: 60PX;
    color:red serif;
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 5px red;
    display:block;
  }
   ul{list-style-type: none;
     margin: 0px;
     padding:0;
     overflow: hidden;
   }
     li{
       float: left; 
       font-size: 20px;
     }
     li a{
       display:block;
       padding: 14px 16px;
       color:rgb(223, 23, 23);
       text-align: center;
       text-decoration: none;
     }
     li a:hover{    
        color:rgb(196, 7, 7);
     }
     input{
      height: 35px;
      background-color: white;
      border-radius: 5px;
      float: left;
    
      }

      nav{background-color: black;
      display: block;
    height: 43px;
  text-align: center;}  

      form{
        float:right;
        border-color: aqua;
      }
            

      .sorry{
        
          border: 1px solid rgb(19, 4, 4);
          border-radius: 5px;
          
      
      }
  
     .sachin{
    
      display: inline-block;
     }
       .sachin ul{
        list-style-type: none;
        margin:0PX;
        padding:0px ;
        width: 140px;
        overflow:hidden;
        height: 500px;
        background-color:orange;
       }
       
       .sachin li a{
        display:block;
        color:rgb(5, 4, 4);

       }
        
      
      .sachin li{float:left;
                font-size: 15px;} 
       .sachin a:hover{    
        color:rgb(238, 65, 65);
     }
    
      
    aside{float: right;
      display:block;
    margin: 15px;
    padding:10px;
    
    }
    .starbutton{float: right;
      padding:12px;
      display: block;
      border-radius:20px;
      margin:20px;
      background:red;
      }
      .shin{text-decoration: none;
       display: inline-block;
       
      }
       .nani{width: 730px;}
  
  .chan{background-color: red;}
   .Fri{width: 102px;
  height: 90px;
object-fit:contain;
visibility: visible;
border-radius: 50%;
padding: 20px;
}
.topfixed{
  background-color:white;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  
}
.nani{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
  height: 75px;
}
ion-icon{
  height: 100px;
}
.sand a:visited{ color: rgb(255, 14, 54);
  background-color: transparent;
  text-decoration: none;
}
 
.mug{color:rgb(14, 11, 11) ;
display: flex;
width: 30px;}
.poo{margin: 8px;
background-color: rgb(255, 131, 29);
height:30px;
float: right;}

        

    
